//TELA PRINCIPAL
.login{
  width:100%;
  height:100%;
  background-size:cover; //ajusta a tela
  background-position:center;
    background: linear-gradient(to left,#ADD8E6 0%, #fff 100%);

  }



//ICONE DE LOGIN
.icon-login{
   font-size:15.0em;
   color: rgb(0, 153, 255);
}

.bg-transparent{
  background: transparent;
}
// Botão de Login
.ctaLogin{
  padding: 10px;
  background: rgb(0, 153, 255);
  border-radius:100px;
  color:  #d3d3d3;
}

.txtRegistrar{
  color: #d3d3d3;

}

.bg-register{
  width:100%;
  height: fit-content;
  background-size:cover; //ajusta a tela
  background-position:center;
  background: linear-gradient(to left,#E0FFFF 0%, #fff 100%);
}
.ctaRegister{
  padding: 10px;
  background: rgb(0, 153, 255);
  border-radius:100px;
  color: #d3d3d3;
}
