//Import @font-face {
  @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700');

  //globals* font geral
  *{
  font-family: 'Montserrat', sans-serif;
  }

  //Margin
  .mg-top-5{
    margin-top: 5px;
  }
  .mg-top-10{
    margin-top: 10px;
  }
  .mg-top-20{
    margin-top: 20px;
  }
  .mg-top-30{
    margin-top: 30px;
  }
  .mg-top-40{
    margin-top: 40px;
  }
  .padding-top-30{
    padding-top: 30px;

  }
  .no-margin{
    margin :0px;
  }
  .padding-top-10p{
    padding-top: 10%;

  }
  .no-padding{
    padding: 0px;
  }
  .padding-40{
    padding: 40px;
  }
  .center{
    text-align: center;
  }

.list-custom .item a{
  background-color: #000000;
  color: orange;
}

  //Font Style
  .bold{
    font-weight: 700;
  }
  .light{
    font-weight: 300;
  }
  ion-menu{
    ion-content{
      background: linear-gradient(to left, rgb(0, 153, 255) 0%, #fff 100%);

    }
   }





